.titulo{
    background-color: blueviolet;
    color:aliceblue;
}

.par{
    background-color: rgb(43, 110, 226);
    color:aliceblue;

}

.impar{
    background-color: rgb(42, 165, 48);
    color:aliceblue;
}


